*/config/development/*
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

/manifest.json
/assets/manifest-icon/

#codeigniter 3
.vscode/*
application/config/*
application/logs/*
application/config/development/*
application/config/database.php
application/config/constants.php
!application/logs/index.html
!application/logs/.htaccess

#/vendor/
/assets/files/*
/assets/pr/*
/docker/*
docker-compose.yml
application/config/constants.php
application/config/config.php
application/config/constants.php

assets/pdf/manual-book.pdf
uploads/csv_plan_tagih
application/config/config.php
application/config/config.php
/.kiro
/tests
/vendor/bin
/vendor
/application/config
analisis_bug_pph_vuca.md
/application/modules/invoicing/md
